@model ErrorViewModel
@{
    ViewData["Title"] = "Página não encontrada!";
}

<center>
    <h1>Esta página não está disponível</h1>
    <h2>A ligação que seguiste pode estar a funcionar incorretamente ou a página pode ter sido eliminada.</h2>

    <img style="align-content:center" class="image" src="~/images/James& Katie.png" alt="" width="400" height="400" />
</center>
