@model EscalonamentoHospitalar.Models.EspecialidadeEnfermeiro

@{
    ViewData["Title"] = "Alterar Especialidade";
}

<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<h2>Alterar a especialidade <b>@Html.DisplayFor(model => model.Especialidade)</b></h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="EspecialidadeEnfermeiroId" />
            <div class="form-group">
                <label asp-for="Especialidade" class="control-label">Nome da Especialidade</label>
                <input asp-for="Especialidade" class="form-control" />
                <span asp-validation-for="Especialidade" class="text-danger"></span>
            </div>
            <div class="form-group">
<<<<<<< HEAD
                <input type="submit" value="Guardar" class="btn btn-success" />
=======
                <button class="btn btn-success" type="submit">
                    <i class="fas fa-save" style="color:white;"></i> Guardar alterações
                </button>
>>>>>>> CristianoPatricio_GerarHorarios
            </div>
        </form>
    </div>
</div>

<div>
<<<<<<< HEAD
    <a asp-action="Index"> <input type="submit" value="Voltar à lista de especialidades" class="btn btn-default" /></a>
=======
    <a asp-action="Index" class="btn btn-default">
        <span class="fas fa-undo" style="color:dodgerblue;"></span> Voltar à lista
    </a>
>>>>>>> CristianoPatricio_GerarHorarios
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
