@model IEnumerable<EscalonamentoHospitalar.Models.EspecialidadeEnfermeiro>

@{
    ViewData["Title"] = "Lista de Especialidades dos Enfermeiros";
}

<h2>Lista de Especialidades dos Enfermeiros</h2>

<p>
    <a asp-action="Create">Inserir nova Especialidade de Enfermeiros</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EspecialidadeEnfermeiroId">Alterar</a> |
                <!--<a asp-action="Details" asp-route-id="@item.EspecialidadeEnfermeiroId">Details</a> |-->
                <a asp-action="Delete" asp-route-id="@item.EspecialidadeEnfermeiroId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
