@model Microsoft.AspNetCore.Identity.IdentityRole
@{
    ViewData["Title"] = "Create";
}

<style type="text/css">
    #tbrole, .c{
        border:double;
    }
</style>

@using (Html.BeginForm())
{
    <table class="table table-bordered table-hover">
        <tr>
            <td class="c">Enter Role Name To be Created:</td>
            <td class="c">
                @Html.EditorFor(m => m.Name)
            </td>
        </tr>
    </table>
    <input type="submit" value="Create Role" />
}

