@model EscalonamentoHospitalar.Models.Tratamento

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Tratamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TratamentoId" />
            <div class="form-group">
                <label asp-for="PatologiaId" class="control-label"></label>
                <select asp-for="PatologiaId" class="form-control" asp-items="ViewBag.PatologiaId"></select>
                <span asp-validation-for="PatologiaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrauId" class="control-label"></label>
                <select asp-for="GrauId" class="form-control" asp-items="ViewBag.GrauId"></select>
                <span asp-validation-for="GrauId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInicio" class="control-label"></label>
                <input asp-for="DataInicio" class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFim" class="control-label"></label>
                <input asp-for="DataFim" class="form-control" />
                <span asp-validation-for="DataFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DuracaoCiclo" class="control-label"></label>
                <input asp-for="DuracaoCiclo" class="form-control" />
                <span asp-validation-for="DuracaoCiclo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Regime" class="control-label"></label>
                <input asp-for="Regime" class="form-control" />
                <span asp-validation-for="Regime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Decorrer" /> @Html.DisplayNameFor(model => model.Decorrer)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Concluido" /> @Html.DisplayNameFor(model => model.Concluido)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
