@model EscalonamentoHospitalar.Models.Tratamento

@{
    ViewData["Title"] = "Editar";
}

<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h2>Editar</h2>

<h4>Tratamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TratamentoId" />
            <div class="form-group">
                <label asp-for="PatologiaId" class="control-label">Patologia</label>
                <select asp-for="PatologiaId" class="form-control" asp-items="ViewBag.PatologiaId"></select>
                <span asp-validation-for="PatologiaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PacienteId" class="control-label">Paciente</label>
                <select asp-for="PacienteId" class="form-control" asp-items="ViewBag.PacienteId"></select>
                <span asp-validation-for="PacienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrauId" class="control-label">Grau</label>
                <select asp-for="GrauId" class="form-control" asp-items="ViewBag.GrauId"></select>
                <span asp-validation-for="GrauId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInicio" class="control-label">Data de incio do tratamento</label>
                <input asp-for="DataInicio" class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFim" class="control-label">Data de fim do tratamento</label>
                <input asp-for="DataFim" class="form-control" />
                <span asp-validation-for="DataFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DuracaoCiclo" class="control-label">Duração do ciclo</label>
                <input asp-for="DuracaoCiclo" class="form-control" />
                <span asp-validation-for="DuracaoCiclo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegimeId" class="control-label">Regime</label>
                <select asp-for="RegimeId" class="form-control" asp-items="ViewBag.RegimeId"></select>
                <span asp-validation-for="RegimeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoId" class="control-label">Estado</label>
                <select asp-for="EstadoId" class="form-control" asp-items="ViewBag.EstadoId"></select>
                <span asp-validation-for="EstadoId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MedicoId" class="control-label">Medico</label>
                <select asp-for="MedicoId" class="form-control" asp-items="ViewBag.MedicoId"></select>
                <span asp-validation-for="MedicoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-default" />
                <i class="fas fa-save" style="color:white;"></i>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">
        <input type="button" value="Voltar à lista de tratamentos" class="btn btn-default" />
        <span class="fas fa-undo" style="color:dodgerblue;"></span>
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
