@model EscalonamentoHospitalar.Models.PacienteTratamentosViewModel

@{
    ViewData["Title"] = "Pesquisa Paciente";
}

<form asp-action="PesquisaPaciente">
    <p style="float: right">
        Pesquisar por NumeroUtente: <input style="width: 200px;" placeholder="Insira o numero de utente a pesquisar" />
        <input type="submit" value="Pesquisar" class="btn btn-info" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
               Numero Utente
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Pacientes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero_Utente)
                </td>
               
                
            </tr>
        }
    </tbody>
</table>


