@model EscalonamentoHospitalar.Models.PedidoTrocaTurnosEnfermeiro

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>PedidoTrocaTurnosEnfermeiro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PedidoTrocaTurnosEnfermeiroId" />
            <div class="form-group">
                <label asp-for="DataPedido" class="control-label"></label>
                <input asp-for="DataPedido" class="form-control" />
                <span asp-validation-for="DataPedido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnfermeiroRequerenteId" class="control-label"></label>
                <input asp-for="EnfermeiroRequerenteId" class="form-control" />
                <span asp-validation-for="EnfermeiroRequerenteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorarioATrocarId" class="control-label"></label>
                <input asp-for="HorarioATrocarId" class="form-control" />
                <span asp-validation-for="HorarioATrocarId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnfermeiroATrocarId" class="control-label"></label>
                <input asp-for="EnfermeiroATrocarId" class="form-control" />
                <span asp-validation-for="EnfermeiroATrocarId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorarioParaTrocaId" class="control-label"></label>
                <input asp-for="HorarioParaTrocaId" class="form-control" />
                <span asp-validation-for="HorarioParaTrocaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnfermeiroParaTrocaId" class="control-label"></label>
                <input asp-for="EnfermeiroParaTrocaId" class="form-control" />
                <span asp-validation-for="EnfermeiroParaTrocaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoPedidoTrocaId" class="control-label"></label>
                <select asp-for="EstadoPedidoTrocaId" class="form-control" asp-items="ViewBag.EstadoPedidoTrocaId"></select>
                <span asp-validation-for="EstadoPedidoTrocaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
