@model EscalonamentoHospitalar.Models.HorarioEnfermeiro

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>HorarioEnfermeiro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HorarioEnfermeiroId" />
            <div class="form-group">
                <label asp-for="DataInicioTurno" class="control-label"></label>
                <input asp-for="DataInicioTurno" class="form-control" />
                <span asp-validation-for="DataInicioTurno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duracao" class="control-label"></label>
                <input asp-for="Duracao" class="form-control" />
                <span asp-validation-for="Duracao" class="text-danger"></span>
            </div>          
            <div class="form-group">
                <label asp-for="TurnoId" class="control-label"></label>
                <select asp-for="TurnoId" class="form-control" asp-items="ViewBag.TurnoId"></select>
                <span asp-validation-for="TurnoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnfermeiroId" class="control-label"></label>
                <select asp-for="EnfermeiroId" class="form-control" asp-items="ViewBag.EnfermeiroId"></select>
                <span asp-validation-for="EnfermeiroId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
