@model PedidoTrocaTurnosEnfermeiroViewModel

@{
    ViewData["Title"] = "Solicitar Pedido Troca de Turnos - Enfermeiros";
}

<h2>Sumário - Pedido de Troca de Turno - Enfermeiros</h2>

<div>
    <h4><b>Horário a trocar:</b></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Data de início de turno:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.horarioEnfermeiroATrocar.DataInicioTurno)
        </dd>
        <dt>
            Enfermeiro:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.horarioEnfermeiroATrocar.Enfermeiro.Nome)
        </dd>
    </dl>
</div>

<hr />


<div>
    <h4><b>Horário para troca:</b></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Data de início de turno:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.horarioEnfermeiroParaTroca.DataInicioTurno)
        </dd>
        <dt>
            Enfermeiro:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.horarioEnfermeiroParaTroca.Enfermeiro.Nome)
        </dd>
    </dl>
</div>


<form asp-action="SolicitarPedidoTrocaTurnoEnfermeiro">
    <input type="hidden" asp-for="horarioEnfermeiroATrocar.HorarioEnfermeiroId" name="idHor1" />
    <input type="hidden" asp-for="horarioEnfermeiroParaTroca.HorarioEnfermeiroId" name="idHor2" />
    <input type="submit" value="Solicitar Pedido" class="btn btn-success" />
    <a asp-action="Index"><input type="button" value="Cancelar" class="btn btn-default" /></a>
</form>
