@model EscalonamentoHospitalar.Models.MedicoEspecialidade

@{
    ViewData["Title"] = "Create";
}

<h2>Inserir especialidade a um médico</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Medico" class="control-label">Médico</label>
                <select asp-for="Medico" class ="form-control" asp-items="ViewBag.MedicoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EspecialidadeMedicoId" class="control-label">Especialidade</label>
                <select asp-for="EspecialidadeMedicoId" class ="form-control" asp-items="ViewBag.EspecialidadeMedicoId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="INSERIR" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar à lista de especialidades do médico</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
