@model EscalonamentoHospitalar.Models.MedicoEspecialidade

@{
    ViewData["Title"] = "Create";
}

<h2>Inserir especialidade</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label">Especialidade</label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicoId" class="control-label">Id do Médico</label>
                <select asp-for="MedicoId" class ="form-control" asp-items="ViewBag.MedicoId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="INSERIR" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar à lista de especialidades</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
