@model EscalonamentoHospitalar.Models.MedicoEspecialidade

@{
    ViewData["Title"] = "Delete";
}

<h3>Tem a certeza que quer apagar a especialidade do médico?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Medico
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Medico.Nome)
        </dd>
        <dt>
            Especialidade
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EspecialidadeMedico.NomeEspecialidade)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MedicoId" />
        <input type="hidden" asp-for="EspecialidadeMedicoId" />
        <input type="submit" value="APAGAR" class="btn btn-default" /> |
        <a asp-action="Index">voltar à lista de especialidades do médico</a>
    </form>
</div>
