@model EscalonamentoHospitalar.Models.MedicoEspecialidade

@{
    ViewData["Title"] = "Details";
}

<h2>Detalhes da especialidade</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Especialidade
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeEspecialidade)
        </dd>
        <dt>
            Médico
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Medico.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MedicoEspecialidadeId">Editar</a> |
    <a asp-action="Index">Voltar à lista de especialidades</a>
</div>
