@model EscalonamentoHospitalar.Models.MedicoEspecialidade

@{
    ViewData["Title"] = "Edit";
}

<h2>Editar a especialidade do médico</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MedicoId" />
            <input type="hidden" asp-for="EspecialidadeMedicoId" />
            <div class="form-group">
                <input type="submit" value="GUARDAR" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar à lista de especialidades do médico </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
