@model IEnumerable<EscalonamentoHospitalar.Models.MedicoEspecialidade>

@{
    ViewData["Title"] = "Index";
}

<h2>Lista de especialidades do médico</h2>

<p>
    <a asp-action="Create">Inserir uma nova especialidade a um médico</a>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Médico
                </th>
                <th>
                    Especialidade
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Medico.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EspecialidadeMedico.NomeEspecialidade)
                    </td>
                   
                </tr>
            }
        </tbody>
    </table>
