@model EscalonamentoHospitalar.Models.EspecialidadeMedico

@{
    ViewData["Title"] = "Inserir";
}

<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h2>Inserir uma nova especialidade de Médico</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeEspecialidade" class="control-label">Especialidade</label>
                <input asp-for="NomeEspecialidade" class="form-control" />
                <span asp-validation-for="NomeEspecialidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-success" type="submit">
                    <i class="fas fa-save" style="color:white;"></i> Inserir
                </button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-default">
        <span class="fas fa-undo" style="color:dodgerblue;"></span> Voltar à lista
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
