@model EscalonamentoHospitalar.Models.EspecialidadeMedico

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhes da especialidade <b>@Html.DisplayFor(model => model.NomeEspecialidade)</b> </h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Especialidade
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeEspecialidade)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.EspecialidadeMedicoId">EDITAR</a> 
    <a asp-action="Index" class="btn btn-default">Voltar à lista de especialidades</a>
</div>
