@model IEnumerable<EscalonamentoHospitalar.Models.EspecialidadeMedico>

@{
    ViewData["Title"] = "Index";
}

<h2>Lista de especialidades dos médicos</h2>

<p>
    <a asp-action="Create">Inserir nova especialidade</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Especialidade
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeEspecialidade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EspecialidadeMedicoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.EspecialidadeMedicoId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.EspecialidadeMedicoId">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
