@model IEnumerable<EscalonamentoHospitalar.Models.EspecialidadeMedico>

@{
    ViewData["Title"] = "Lista";
}

<h2>Lista de Especialidades</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Inserir uma nova especialidade</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Especialidade
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeEspecialidade)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.EspecialidadeMedicoId">Editar</a> 
                    @*<a asp-action="Details" class="btn btn-info"  asp-route-id="@item.EspecialidadeMedicoId">Detalhes</a> |*@
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.EspecialidadeMedicoId">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
